@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{margin: 0px; padding: 0px; box-sizing: border-box; font-family: 'Roboto', sans-serif;}
  *, button, input{
      border: 0;
      background: none;
    }
:root{
    --Preto:#151515;
    --Branco:#FFFFFF;
    --Laranja:#FE6600;
    --Cinza:#848484;
    --Cinza-02:#dfdede;
}